<header class="text-center text-white d-flex masthead" style="background-image:url('assets/img/header.jpg');">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Studenckie koło naukowe data science - POLSL</strong></h1>
                    <hr style="border-color: #418af5;">
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Ta strona jest dedykowana Nocy Naukowców 2022 organizowanej na Politechnice Śląskiej</p><a class="btn btn-primary btn-xl" role="button" href="#services" style="background-color: #418af5;">Dowiedz się więcej</a>
            </div>
        </div>
    </header>
    <section id="about" style="background: #418af5;">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 text-center mx-auto">
                    <h2 class="text-white section-heading">Noc Naukowców 2022</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">W ramach Nocy Naukowców 2022 przygotowane są dwa interesujące zagadnienia: <strong>Transfer Learningu</strong> do odwzorowania danego obrazka w danym stylu (<em>np. Van Gogh</em>) oraz <strong>EIA (</strong><em>wyjaśnialnej sztucznej inteligencji</em><strong>)</strong> zastosowanej do rozpoznawania warzyw i owoców.</p><a class="btn btn-light btn-xl" role="button" href="#services">Zaczynamy!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">W ramach Nocy Naukowców 2022</h2>
                    <hr class="my-4" style="border-color: #418af5;">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-file-picture-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true" style="color: #418af5!important;"></i>
                        <h4 class="mb-3">Transfer Stylu</h4>
                        <button class="btn btn-primary mb-0"  routerLink="/style-transfer" routerLinkActive="active">Odzwierciedlenie zdjęcia lub obrazu w danym stylu</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-camera-retro fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true" style="color: #418af5!important;"></i>
                        <h4 class="mb-3">Owoc czy warzywo?</h4>
                        <button class="btn btn-primary mb-0" routerLink="/classify" routerLinkActive="active">Rozpoznanie owocu lub warzywa</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-university fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true" style="color: #418af5!important;"></i>
                        <h4 class="mb-3">Politechnika Śląska</h4>
                        <p class="text-muted mb-0">Zrealizowane w ramach Koła Naukowego Data Science</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true" style="color: #418af5!important;"></i>
                        <h4 class="mb-3">Z Miłością</h4>
                        <p class="text-muted mb-0">Zrobione z miłości do nauki i dziedziny Data Science</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-white bg-dark">
        <div class="container text-center">
            <h2 class="mb-4">Zacznijmy podróż w ramach Nocy Naukowców 2022</h2><a class="btn btn-light btn-xl sr-button" role="button" data-aos="zoom-in" data-aos-duration="400" data-aos-once="true"  routerLink="/style-transfer" routerLinkActive="active">zacznijmy!</a>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center mx-auto">
                    <h2 class="section-heading">Bądźmy w kontakcie!</h2>
                    <hr class="my-4">
                    <p class="mb-5">Chcesz dołączyć dokoła lub jesteś chętny/a uczestniczyć w projektach z tematyki Data Science?<br>Jeżeli jesteś studentem/ą Politechniki Śląskiej zapraszamy.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center ms-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                    <p>------------</p>
                </div>
                <div class="col-lg-4 text-center me-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                    <p>aleklew480@student.polsl.pl<br>natawoj691@student.polsl.pl<br></p>
                </div>
            </div>
        </div>
    </section>