<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #2367cc; z-index: 999!important;">
    <div class="container"><a class="navbar-brand" href="#page-top" style="color: #418af5;"><strong>Studenckie koło naukowe </strong><br><strong>DATA SCIENCE</strong><br><em>Politechnika Śląska&nbsp;</em><br></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">O NAS</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">NOC naukowców 2022</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/style-transfer" routerLinkActive="active">Transfer Stylu</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/classify" routerLinkActive="active">Warzywa i Owoce</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>